<?xml version="1.0" encoding="utf-8" ?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{author.name}}</title>
	<link href="{{url}}/feed.xml" rel="self" />
	<link href="{{url}}" />
	<id>urn:uuid:{{id}}</id>
	<updated>{{date format="YYYY-MM-DDTHH:mm:ssZ"}}</updated>

	{{#each posts}}
	<entry>
		<title>{{title}}</title>
		<link href="{{../url}}{{path}}/" />
		<id>urn:uuid:{{id}}</id>
		<published>{{date created format="YYYY-MM-DDTHH:mm:ssZ"}}</published>
		<updated>{{date format="YYYY-MM-DDTHH:mm:ssZ"}}</updated>
		<author>
			<name>{{../author.name}}</name>
			{{#if ../author.email}}
			<email>{{../../author.email}}</email>
			{{/if}}
		</author>
		<summary type="html">
			{{contents}}
		</summary>
	</entry>
	{{/each}}
</feed>
