<?xml version="1.0" encoding="utf-8" ?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{name}}</title>
	<subtitle>{{description}}</subtitle>
	<link href="{{url}}/feed.xml" rel="self" />
	<link href="{{url}}" />
	<id>urn:uuid:{{id}}</id>
	<updated>{{date format="YYYY-MM-DDTHH:mm:ssZ"}}</updated>

	{{#posts contents}}
	<entry>
		<title>{{title}}</title>
		<link href="{{../url}}{{url}}" />
		<id>urn:uuid:{{metadata.id}}</id>
		<updated>{{date format="YYYY-MM-DDTHH:mm:ssZ"}}</updated>
		<author>
			<name>{{../author.name}}</name>
			{{#if ../author.email}}
			<email>{{../../author.email}}</email>
			{{/if}}
		</author>
		<summary type="html">
			{{html}}
		</summary>
	</entry>
	{{/posts}}
</feed>