{{> header}}

<header style="background-image: url({{cover page.metadata.cover}})" class="{{page.metadata.headerClass}}">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<section>
					{{#with page}}
						<h1>{{title}}</h1>
						{{#if metadata.tagline}}
							<h2>{{metadata.tagline}}</h2>
						{{/if}}
					{{/with}}
				</section>
			</div>
		</div>
	</div>
</header>

<main class="site" role="main">
	<section class="intro">
		{{{contents.[intro.md].html}}}
	</section>

	<section class="post-list" itemscope itemtype="http://schema.org/Blog">
		<h4>Read Stuff</h4>

		{{#posts contents}}
		<article class="post-stub" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
			<time datetime="{{date format='YYYY-MM-DD'}}" itemprop="datePublished">{{date format="DD MMM YYYY"}}</time>
			<div class="post-title">
				<a href="{{url}}" itemprop="name headline url">{{title}}</a>

				{{#if ../disqus}}
				<a href="{{../../../url}}{{url}}#disqus_thread" class="post-comment-count" title="Comments" {{#if metadata.disqus}} {{#if metadata.disqus.identifier}} data-disqus-identifier="{{metadata.disqus.identifier}}" {{/if}} {{else}} data-disqus-identifier="{{metadata.id}}" {{/if}}></a>
				{{/if}}
			</div>
		</article>
		{{/posts}}
	</section>

	{{#if disqus}}
	<script type="text/javascript">
		var disqus_shortname = '{{disqus}}';

		(function () {
			var s = document.createElement('script'); s.async = true;
			s.type = 'text/javascript';
			s.src = '//' + disqus_shortname + '.disqus.com/count.js';
			(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		}());
	</script>
	{{/if}}
</main>

{{> footer}}
