{{> header}}

<section class="intro">
	{{{contents.[intro.md].html}}}
</section>

<section class="post-list" itemscope itemtype="http://schema.org/Blog">
	<h4>Read Stuff</h4>

	{{#posts contents}}
	<article class="post-stub" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
		<time datetime="{{date format='YYYY-MM-DD'}}" itemprop="datePublished">{{date format="DD MMM YYYY"}}</time>
		<div class="post-title">
			<a href="{{url}}" itemprop="url"><span itemprop="name headline">{{title}}</span></a>

			{{#if ../disqus}}
			{{#if metadata.disqus}}
			<a href="{{../../../url}}{{url}}#disqus_thread" class="post-comment-count" title="Comments" {{#if metadata.disqus.identifier}} data-disqus-identifier="{{metadata.disqus.identifier}}" {{/if}}></a>
			{{/if}}
			{{/if}}
		</div>
	</article>
	{{/posts}}
</section>

{{#if disqus}}
<script type="text/javascript">
	var disqus_shortname = '{{disqus}}';

	(function () {
		var s = document.createElement('script'); s.async = true;
		s.type = 'text/javascript';
		s.src = '//' + disqus_shortname + '.disqus.com/count.js';
		(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	}());
</script>
{{/if}}

{{> footer}}